@charset "utf-8";

/*나눔바른고딕*/
@font-face {
  font-family: 'NanumBG';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/NanumBarunGothicLight.eot");
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url("./fonts/NanumBarunGothicLight.eot?#iefix") format('embedded-opentype'),
       url("./fonts/NanumBarunGothicLight.woff2") format('woff2'),
       url("./fonts/NanumBarunGothicLight.woff") format('woff'),
       url("./fonts/NanumBarunGothicLight.ttf") format('truetype');
}

@font-face {
  font-family: 'NanumBG';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NanumBarunGothic.eot");
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url("./fonts/NanumBarunGothic.eot?#iefix") format('embedded-opentype'),
       url("./fonts/NanumBarunGothic.woff2") format('woff2'),
       url("./fonts/NanumBarunGothic.woff") format('woff'),
       url("./fonts/NanumBarunGothic.ttf") format('truetype');
}

@font-face {
  font-family: 'NanumBG';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/NanumBarunGothicBold.eot");
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url("./fonts/NanumBarunGothicBold.eot?#iefix") format('embedded-opentype'),
       url("./fonts/NanumBarunGothicBold.woff2") format('woff2'),
       url("./fonts/NanumBarunGothicBold.woff") format('woff'),
       url("./fonts/NanumBarunGothicBold.ttf") format('truetype');
}

/*나눔스퀘어*/
@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  src: url("./fonts/nanumsquare.eot");
  src: url("./fonts/nanumsquare.eot?#iefix") format('embedded-opentype'),
       url("./fonts/nanumsquare.woff") format('woff');
}

/*고담폰트*/
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  /*font-weight: 500;*/
  src: url("./fonts/GothamMedium.eot");
  src: url("./fonts/GothamMedium.eot?#iefix") format('embedded-opentype'),
       url("./fonts/GothamMedium.woff") format('woff'),
       url("./fonts/GothamMedium.ttf") format('truetype');
}
@font-face {
  font-family: 'GothamBook';
  font-style: normal;
  src: url("./fonts/GothamBook.eot");
  src: url("./fonts/GothamBook.eot?#iefix") format('embedded-opentype'),
       url("./fonts/GothamBook.woff") format('woff'),
       url("./fonts/GothamBook.ttf") format('truetype');
}