@charset "UTF-8";
/* form */
form > div.panel > div.form-group{
	margin-bottom: 5px !important;
}

.panel-header-grey {
/* 	margin-bottom: 20px; */
	margin-top: 5px;
	margin-bottom: 5px;
    border: 1px solid #929498;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	/* background-color: #2C497D; */
    background-image: linear-gradient(to bottom, #FFFFFF 0, #D2D2D2 100%);
    background-repeat: repeat-x;
	color: #000;
	/* font-size: 15px; */
	font-weight: bold;
	/* border-color:rgb(214, 213, 213); */
	padding: 10px 15px;
	/*    border-bottom: 1px solid transparent; */
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

/* 컨트롤 라벨 */
.control-label{
	width: 100px !important;;
	text-align: center !important;;
}

.navbar {
    position: relative;
    min-height: 38px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
#btnSearch{
	margin-top: -2px;
}

.dtPicker{
	width: 85px !important;
}

.row-odd{
	background:#f5f5f5;
}
.row-even{
/* 	background:#f5f5f5; */
}